version: '3.8'

services:
  backend:
    build: ./serving
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data

  frontend:
    build: ./frontend/client
    ports:
      - "3000:80"
    depends_on:
      - backend
